body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    position: relative;
}

#toggle-light {

    background-color: black;
    position: absolute;
    top: 0;
    border-radius: 15px;
    right: 0;
}

.light-theme {
    background-color: white;

}

.calculator {
    max-width: 250px;
    /* border: 10px solid white; */
    background-color: black;
    position: absolute;
    border-radius: 30px;

}

#result {
    text-align: right;
   
    font-size: 40px;
    overflow: scroll;
    background-color: black;
    /* border-radius: 320px; */
    color: white;
    width: 90%;
    height: 90%;
    margin: 10px;
    border: none;
}

button {
    height: 50px;

    color: white;
    border: none;
    font-size: 1.5rem;
}

.btn {


    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;


}

.gray-btn {
    border-radius: 50%;
    color: black;
    background-color: #D4D4D2;

}

.yellow-btn {
    border-radius: 50%;
    color: white;
    background-color: #FF9500;
}

.black-btn {
    border-radius: 50%;
    color: white;
    background-color: #1c1c1c;
}

.black-btn.sp {
    grid-column: span 2;
    text-align: left;
    text-indent: 15px;
    border-radius: 50px;
}